.title {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.title h2 {
  font-size: 140px;
  color: #dee3e4;
}

.title p {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  padding-bottom: 3px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .title h2 {
    font-size: 140px;
    color: #dee3e4;
    font-weight: 700;
  }
}

@media screen and (max-width: 1230px) {
  .title h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
 
  .title h2 {
    font-size: 60px;
  }

  .title p {
    font-size: 16px;
  }
}